<!DOCTYPE html>
<html lang="ru" layout:decorate="~{layouts/layout}" xmlns:layout="http://www.thymeleaf.org"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>
        Create a ResponseBin
    </title>
</head>

<body>

<h2 layout:fragment="pageTitle">New Bin</h2>

<div layout:fragment="content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form method="post" th:action="@{/bin/create}">
                <div class="form-group">
                    <button class="btn btn-success float-right" type="submit">Save bin</button>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Bin name</label>
                    <input class="form-control" id="name" th:field="*{bin.name}"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('bin.name')}"
                       th:text="${error}">Validation error
                    </p>
                </div>
                <div class="form-group">
                    <label class="control-label" for="type">Handle options</label>
                    <select class="form-control custom-select custom-select-md" id="type" th:field="*{bin.type}">
                        <option value="params">Handle Form data requests</option>
                        <option value="body">Handle Raw Body requests</option>
                    </select>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('bin.type')}"
                       th:text="${error}">Validation error
                    </p>
                </div>
                <hr/>

                <div id="responseTemplateContainer">

                    <th:block th:each="template, status : ${bin.responseForms}">
                        <div class="bg-light">
                            <hr/>
                            <button class="btn btn-danger float-right removeResponseTemplate" type="button">Remove
                                template
                            </button>
                            <p class="error-message"
                               th:each="error : ${#fields.errors('bin.responseForms[__${status.index}__]')}"
                               th:text="${error}">Validation error
                            </p>
                            <input hidden th:field="*{bin.responseForms[__${status.index}__].id}"/>

                            <div class="form-group">
                                <label class="control-label" th:for="'responseCondition' + ${status.index}">Response
                                    condition</label>
                                <input class="form-control" th:field="*{bin.responseForms[__${status.index}__].condition}"
                                       th:id="'responseCondition' + ${status.index}">
                            </div>

                            <div class="form-group">
                                <label class="control-label" th:for="'responseBody' + ${status.index}">Response
                                    body</label>
                                <textarea class="form-control" th:field="*{bin.responseForms[__${status.index}__].body}"
                                          th:id="'responseBody' + ${status.index}"></textarea>
                            </div>

                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" th:field="*{bin.responseForms[__${status.index}__].default}"
                                           th:id="'responseDefault' + ${status.index}"
                                           type="checkbox"/>
                                    <label class="custom-control-label" th:for="'responseDefault' + ${status.index}">Set
                                        as default</label>
                                </div>
                            </div>
                            <hr/>
                        </div>
                    </th:block>
                    <button
                            class="btn btn-info"
                            data-prototype='
                                <div class="bg-light">
                                    <hr>
                                        <button type="button" class="btn btn-danger float-right removeResponseTemplate">Remove template</button>

                                        <input hidden="" id="responseForms__COUNT__.id" name="responseForms[__COUNT__].id" value="">

                                        <div class="form-group">
                                            <label for="responseCondition__COUNT__" class="control-label">Response condition</label>
                                            <input id="responseCondition__COUNT__" class="form-control" name="responseForms[__COUNT__].condition" value="">
                                        </div>

                                        <div class="form-group">
                                            <label for="responseBody__COUNT__" class="control-label">Response body</label>
                                            <textarea id="responseBody__COUNT__" class="form-control" name="responseForms[__COUNT__].body" value=""></textarea>
                                        </div>

                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input id="responseDefault__COUNT__" type="checkbox" class="custom-control-input" name="responseForms[__COUNT__].default" value="true"><input type="hidden" name="_responseForms[__COUNT__].default" value="on">
                                                <label for="responseDefault__COUNT__" class="custom-control-label">Set as default</label>
                                            </div>
                                        </div>
                                    <hr>
                                </div>
                            '
                            id="addResponseTemplate"
                            type="button"
                    >
                        Add response template
                    </button>
                </div>

                <hr/>
            </form>
        </div>
    </div>
</div>

<div layout:fragment="scripts">
    <script type="text/javascript">
        $(document).ready(function() {
            var container = $('#responseTemplateContainer');
            $('#addResponseTemplate').data('count', container.children('div.bg-light').length);

            $('#addResponseTemplate').on('click', function() {
                var container = $('#responseTemplateContainer');
                var template = $(this).data('prototype').replace(/__COUNT__/g, $(this).data('count'));
                $(template).insertBefore($(this));
                $(this).data('count', $(this).data('count') + 1)
            });

            container.on('click', 'button.btn.btn-danger.removeResponseTemplate', function() {
                $(this).closest('div.bg-light').remove();
            });
        });

    </script>
</div>
</body>
</html>