<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" layout:decorate="~{layouts/layout}">
<body>

<h2 layout:fragment="pageTitle">Last 10 requests to your bin</h2>

<div layout:fragment="content">
    <p><a th:text="'Url to request: /bin/request/' + ${bin.id} + '/'" th:href="'/bin/request/' + ${bin.id} + '/'"></a></p>
    <th:block th:each="request : ${requests}">
        <hr />
        <div class="row">
            <div class="col-md-2">
                <p>Method: <b th:text="${request.method}"></b></p>
                <p>Remote IP: <b th:text="${request.ip}"></b></p>
            </div>
            <div class="col-md-8">
                <p>
                    <button
                            type="button"
                            class="btn btn-primary"
                            data-toggle="collapse"
                            th:data-target="'#collapseHeader' + ${request.id}"
                            aria-expanded="false"
                            th:aria-controls="'collapseHeader' + ${request.id}"
                    >
                        Show headers
                    </button>
                </p>
                <div class="collapse" th:id="'collapseHeader' + ${request.id}">
                    <p class="json-container" th:text="${request.header}"></p>
                </div>

                <p>
                    <button
                            type="button"
                            class="btn btn-primary"
                            data-toggle="collapse"
                            th:data-target="'#collapseBody' + ${request.id}"
                            aria-expanded="false"
                            th:aria-controls="'collapseBody' + ${request.id}"
                            th:text="${bin.type == 'body' ? 'Show raw body' : 'Show parameters'}"
                    >
                        Show request
                    </button>
                </p>
                <div class="collapse" th:id="'collapseBody' + ${request.id}">
                    <p style="white-space: pre-wrap" th:text="${request.body}" th:class="${bin.type == 'body' ? '' : 'json-container'}"></p>
                </div>
            </div>
            <div class="col-md-2">
                <p th:text="'Created at ' + ${#temporals.format(request.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></p>
            </div>
        </div>
        <hr />
    </th:block>
</div>

<div layout:fragment="scripts">
    <script type="text/javascript">
        //too bad I didn't find a better solution
        //also, why bother server with this
        $(document).ready(function() {
            $('p.json-container').each(function() {
                try {
                    var headerObject = JSON.parse(this.innerHTML);
                    var parent = $(this).parent();
                    $(this).hide();
                    var headerTable = $('<table class="table"></table>');
                    for (var key in headerObject) {
                        headerTable.append("<tr><td>" + key + "</td><td>" + headerObject[key] + "</td></tr>");
                    }

                    headerTable.insertAfter($(this));
                } catch (error) {
                    //todo
                }
            })
        });
    </script>
</div>
</body>
</html>