<!DOCTYPE html>
<html lang="ru" layout:decorate="~{layouts/layout}"
      xmlns:layout="http://www.thymeleaf.org">
<body>


<h2 layout:fragment="pageTitle">ResponseBin index page</h2>

<div layout:fragment="content">
    <div sec:authorize="isAuthenticated()">
        <form action="/logout" id="logoutForm" method="POST">
            <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
        </form>

        <h2>Welcome, <span sec:authentication="name"></span> | <a href="/logout">Logout</a></h2>
    </div>

    <div sec:authorize="!isAuthenticated()">
        <h3>You are not logged in! You can <a href="/login">login here</a> or <a href="/register">register here</a></h3>
    </div>
</div>

</body>
</html>